/* You can add global styles to this file, and also import other style files */
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.member-tabset > .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs .nav-link:hover > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs .nav-link:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 4px solid #e95420;
  position: relative;
}

.member-tabset > .nav-tabs .nav-link.active {
  color: #333333;
}

.member-tabset > .nav-tabs .nav-link.active > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
